/* Graph Container*/
.graph-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates two equal columns */
  gap: 10px; /* Adds space between grid items */
}
.graph {
  height: 500px; /* Fixed height for each graph */
} 

  /* mPMT Selector*/
  .mpmt-plots-option-frame {
    border-width: 2px;
    border-style: dotted;
    border-color: grey;
    width:400px;
    margin: 0 auto;    
  }
  .mpmt-selection-frame {
    width:50%;
    margin: 0 auto;
  }

  .mpmt-selection-form {
    margin: 12px 16px;
  }

  /* Submit Button */
 .submit-button {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.submit-button-frame {
  position: relative;
  display: inline-block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

  .mpmt-autoscroll-frame {
    margin: 5px;
  }
  /* Autoscroll button */
  .mpmt-autoscroll-button-frame {
    /* width:50%; */
    
    /* display: flex; */
    display: inline-block;
    align-items: center;
  }
  .autoscroll-button {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220,0,0,1);
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }

  .autoscroll-button:hover {
    background-color: rgba(255, 0, 0, 1);
  }

  .autoscroll-button:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }

  .mpmt-autoscroll-text-frame {
    display: inline-block;
  }